.highwayArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
  transition: opacity 0.15s;
}

.highwayAreaTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0;
}

.titleArrowIcon {
  transition: transform 0.2s ease-in-out;
  width: 3rem;
  height: 3rem;
}

.numberTitleArrowIcon {
  transition: transform 0.2s ease-in-out;
  width: 2rem;
  height: 2rem;
}

.isOpen {
  transform: rotate(180deg);
}

.highwayAreaTitleText {
  color: var(--text-white-aaaa);
  font-family: Inter, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: normal;
}

.numberGroupedHighwaysTitle {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0;
}

.numberGroupedHighwaysTitleText {
  color: var(--text-white-aaaa);
  font-family: Inter, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
}

.numberGroupedHighways {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
  content-visibility: auto;
  contain-intrinsic-size: 0 200px;
}

.groupedHighwaysArea {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.groupedHighwaysLink {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: stretch;
  transition: all 0.2s ease-in-out;

  content-visibility: auto;
}

.groupedHighwaysLink:hover {
  color: var(--text-success);
}

/* 狀態樣式 (Status) */
.statusActive {
  color: var(--background);
  font-family: Inter, sans-serif;
  text-decoration: none;
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  .statusActive {
    color: var(--text-white-aaaa);
  }
}

.statusDisused {
  color: var(--text-gray-aa);
  text-decoration: line-through;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.statusUnlisted {
  color: var(--text-info);
  font-style: italic;
  font-family: Inter, sans-serif;
  text-decoration: none;
  font-weight: 400;
}

.highwayIcon {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.highwayText {
  font-family: Inter, sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: normal;
}

/* RWD 微調 */
@media (max-width: 768px) {
  .highwayArea {
    margin-bottom: 1.25rem;
  }

  .titleArrowIcon {
    width: 2.25rem;
    height: 2.25rem;
  }

  .highwayAreaTitleText {
    font-size: 2rem;
  }

  .numberGroupedHighwaysTitleText {
    font-size: 1.5rem;
  }

  .numberTitleArrowIcon {
    width: 1.5rem;
    height: 1.5rem;
  }

  .numberGroupedHighways {
    gap: 1rem;
  }

  .groupedHighwaysArea {
    gap: 1rem;
  }

  .groupedHighwaysLink {
    gap: 0.25rem;
  }

  .highwayIcon {
    width: 2rem;
    height: 2rem;
  }

  .highwayText {
    font-size: 1.25rem;
  }
}
